<div class="container" style="padding: 70px">

<div class="col-md-6 justify-content-center">
<%= form_for(paw) do |f| %>
    <% if paw.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(paw.errors.count, "error") %> prohibited this paw from being saved:</h2>
        <ul>
        <% paw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
      </div>
     <% end %>
      
         
         <div class="form-group">
           <%= f.label :name %>
           <%=  f.text_field :name,class: 'form-control' %>
           
           
           <div class="form-inline" style="padding: 10px 0px 10px 0px">
           <%= f.label :gender, class: 'mr-sm-2' %>
           <%= f.select :gender,options_for_select(['Male','Female']),class: 'custom-select mb-2' %>
           </div>
           
           <%= f.label :breed %>
           <%=  f.text_field :breed,class: 'form-control' %>

           <%= f.label :Birthday %>
           <%= f.date_field :dob,class: "form-control" %>
                                
           <%= f.label :Photo %>
           <%= f.file_field :avatar,class: 'form-control-file' %>
                   
           <div style="padding: 20px"><%= f.submit "Upload", class: 'btn btn-primary' %></div>
         </div>
     
<% end %>
</div>
</div>