<p id="notice text-warning"><%= notice %></p>
<section class="jumbotron text-center"
	<div class="container", style="background-color: #EEE9E9">
		<h1 class="jumbotron-heading text-danger">hug me please...</h1>
		<p class="lead text-muted">Dogs belong to heaven way before we do.</p>
		<p>
			<a href="/paws/new" class="btn btn-primary">Upload your cutie</a>
			<a href="/stories" class="btn btn-secondary">Read heart warming stories</a>
	</div>
</section>
<div class="album text-muted">
	<div class="container">
		<div class="row">
				<% @paws.each do |paw| %>
					<div class="card">
	        <%= image_tag paw.avatar.url(:medium) %>
					<a href="/paws/<%= paw.id%>" class="card-text"><%= paw.name.capitalize %> is a cute <%= paw.breed %></a>
			</div>
		<% end %>
		</div>
	</div>
</div>

