
<p id="notice"><%= notice %></p>

     <div class="container", style="padding: 70px">
     	<div class="row">
     	<div class="col-sm-6">
     	<%= image_tag @paw.avatar.url(:medium),class: 'figure-img img-fluid rounded' %>
     	</div>
     	<div class="col-sm-6">
          <div class="btn-group" role="group">
            <%= link_to "Love",paws_love_url,method: :put,remote: true,class: "btn btn-secondary btn-danger"%>
                    <div class="btn btn-secondary btn-danger">
                        <div id="love-me"><%= @paw.love %></div>
                    </div>
         </div>


         <p><h3 class="display-4"><%= @paw.name %></h3> born on <%= @paw.dob %>, is a <%= @paw.gender %>  <%= @paw.breed %>
        </div>
        
            <div class="justify-content-center", style="padding: 20px">
              <%= link_to 'Edit', edit_paw_path(@paw), class: 'btn btn-primary' %> 
              <%= link_to 'Back', paws_path, class: 'btn btn-primary' %>
            </div>
    </div>

     
       <div class="container" style="padding-top: 30px margin-top: 2px">
          <div class="row">
          
             <%= link_to 'New Story', new_story_path(paw_id: @paw.id),class: 'btn btn-outline-primary',id: 'show-form' %>
          </div>

         <div class="col-auto" style="padding-top: 20px">

            <div class="card">
              <h3 class="card-header">Stories</h3>
               <div class="card-block">
                 <ul class="list-group list-group-flush">
                   <%= render 'stories/index' %>
                  </ul>
               </div>
            </div>
         
         </div>
          
           
     </div>
    
       