<!DOCTYPE html>
<html>
  <head>
    <title>lookforpaws</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'paws' %>
    <%= stylesheet_link_tag 'album' %>
  </head>
  <body>
    <div class="container-fluid"><%= render 'layouts/navbar' %></div>
    <%= yield %>
	</body>
  <footer class="fixed-bottom text-muted">
		<div class="container">
			<p class = "float-right">made with &hearts; by @datsleepyguy </p>
			<p>&copy; All Rights Reserved 2017 </p>
		</div>
	</footer>
</html>
